menu "Example Configuration"

    config SHTC3_I2C_SDA_PIN
        int "I2C SDA Pin"
        default 4
        help
            GPIO number for I2C master data

    config SHTC3_I2C_SCL_PIN
        int "I2C SCL Pin"
        default 5
        help
            GPIO number for I2C master clock

    config PIR_FAR_ZONE_GPIO
        int "Far Zone PIR GPIO"
        default 3
        help
            GPIO number connected to the far-zone PIR sensor output.

    config PIR_NEAR_ZONE_GPIO
        int "Near Zone PIR GPIO"
        default 4
        help
            GPIO number connected to the near-zone PIR sensor output.

endmenu
